@import "../base/settings";
@import "../base/mixins";

#filterForm {
  @include display-flex();
  flex-direction: column;
}

// transitions on slide menu
.filterForm__slide {
  display: none;
  height: 0;
  opacity: 0;
}

.filterForm--active.filterForm__slide {
  opacity: 1;
  height: auto;
  display: block;
}

/*.filterForm__filter {
  width: 100%;
  height: 3rem;
  font-size: $l-size;
  font-weight: 400;
}*/