@import "../base/settings";
@import "../base/mixins";

.homepage {
  position: relative;
}

.homepage__slider {
  @include section(false, 0,0);
  height: 300px;
}

.homepage__searchform {
  @include shadow(0, 3px, 10px, 5px, #d7d7d7);
  @include display-flex(center);
  position: absolute;
  top: 20rem;
  left: 10%;
  width: 80%;
  padding: 10rem 5rem;
  margin: 0 auto;
  background: darken($offwhite-background, 3%);
  border-radius: 10px;
}

.homepage__events {
  @include section(true, 0, 0, $offwhite-background);
  padding: 15% 9%;
  min-height: 40vh;
}
