/*html {
  font-size: 62.5%;
}*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  overflow-x: hidden;
}

.mount-animation-appear {
  opacity: 0.01;
}

.mount-animation-appear.mount-animation-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.error {
  color : #b20000;
  font-weight: bold;
}

