// COLORS
$text-on-black: #cccccc;
$black-background: #000000;
$link-on-white: #656565;

//SPACING AND SIZING
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.0rem;
$section_padding : .5rem;
$section_margin  : 1rem 0;
$big_section_margin : 2rem 0;

// BORDERS
$grey-border: 1px solid #ddd;

// BREAKPOINTS
$desktop_breakpoint : 1025;
$laptop_breakpoint : 991px;
$tablet_breakpoint : 768px;
$mobiles_breakpoint : 576px;